################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SD-Save-Manager/.vs/SD-Save-Manager/v15/Server/sqlite3/storage.ide-wal
