################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SD-Save-Manager/.vs/SD-Save-Manager/v15/Server/sqlite3/storage.ide-wal
/SD-Save-Manager/.vs/SD-Save-Manager/v15/Server/sqlite3/storage.ide-shm
/SD-Save-Manager/.vs/SD-Save-Manager/v15/Server/sqlite3/storage.ide
/SD-Save-Manager/.vs/SD-Save-Manager/v15/Server/sqlite3/db.lock
/SD-Save-Manager/SD-Save-Manager/obj/Debug
